argon2-cffi
argon2-cffi-bindings
beautifulsoup4
boto3
certifi
cffi
charset-normalizer
greenlet
idna
jmespath
kafka-python
minio
psycopg2-binary
pycparser
pycryptodome
python-dateutil
pytz
requests
s3transfer
six
soupsieve
typing_extensions
tzdata
urllib3
apache-airflow-providers-apache-spark
apache-airflow-providers-amazon
paho-mqtt
pandas
s3fs
pyarrow
ydata_profiling